<%= error_messages_for @worklog %>
<div class="worklog_todo"> 
<fieldset>
<legend>Todo</legend>
<div class="worklog_item" id="todo_day" style="display:<%=(@worklog && @worklog.typee == 0) ? 'block' : 'none'%>;padding-left:180px;">
	<%= textilizable(@day_todo.todo) %>
</div>

<div class="worklog_item" id="todo_week" style="display:<%=(@worklog && @worklog.typee == 1) ? 'block' : 'none'%>;padding-left:180px;">
	<%= textilizable(@week_todo.todo) %>
</div>
</fieldset>
</div>
 <br />

<div class="box tabular"> 
	<fieldset>
	<legend>日报/周报</legend>
<p><%= l(:field_day) %>: <%=@day%></p>
<p><%= f.select(:typee, Worklog.typee_collection, {:class=>'wiki-edit',:required => true}, :onchange=>"hiddenScore(this.value)")%> </p>
<p><%= f.text_area :do, :required => true, :cols => 40, :rows => 15, :class => 'wiki-edit' %></p>
<p><%= f.text_area :todo, :required => true, :cols => 40, :rows => 10, :class => 'wiki-edit' %></p>
<p><%= f.text_area :feel, :required => false, :cols => 40, :rows => 5, :class => 'wiki-edit' %></p>
</fieldset>

<fieldset id="score" style="display:<%=(@worklog && @worklog.typee == 0) ? 'none' : 'block'%>;">
<legend>自我评价(本周)</legend>
<p><%= f.select(:score, Worklog.score_collection, {:class=>'wiki-edit',:required => true})%> </p>
<p><%= f.text_area :good, :required => false, :cols => 40, :rows => 5, :class => 'wiki-edit',:required => true %></p>
<p><%= f.text_area :nogood, :required => false, :cols => 40, :rows => 5, :class => 'wiki-edit',:required => true %></p>
</fieldset>

</div>
<%= wikitoolbar_for 'worklog_do' %>

<script type="text/javascript">
function hiddenScore(x)
{
	// alert(x)
	var y=document.getElementById("score")
	if (x == "0"){
		document.getElementById("score").style.display = 'none';
		document.getElementById("todo_day").style.display = 'block';
		document.getElementById("todo_week").style.display = 'none';
	}else{
		document.getElementById("score").style.display = 'block';
		document.getElementById("todo_day").style.display = 'none';
		document.getElementById("todo_week").style.display = 'block';
	}
}
</script>