<%= error_messages_for @worklog %>

<div class="box tabular"> 
<p><%= l(:field_day) %>: <%=@day%></p>
<p><%= f.select(:typee, Worklog.typee_collection, {:class=>'wiki-edit',:required => true}, :onchange=>"hiddenScore(this.value)")%> </p>
</div>

<div class="worklog_todo"> 
<fieldset>
<legend>Todo</legend>
<div class="worklog_item" id="todo_day" style="display:<%=(@worklog && @worklog.typee == 0) ? 'block' : 'none'%>;padding-left:180px;">
	<h4><%=l(:index_item_next_day_plan_todo)%></h4>
	<%if @day_todo && !@day_todo.todo.blank?%>
		<%= textilizable(@day_todo.todo) %>
	<%else%>
		<%=l(:text_no_day_plan)%>
	<%end%>
</div>

<div class="worklog_item" id="todo_week" style="display:<%=(@worklog && @worklog.typee == 1) ? 'block' : 'none'%>;padding-left:180px;">
	<h4><%=l(:index_item_next_week_plan_todo)%></h4>
	<%if @week_todo && !@week_todo.todo.blank?%>
		<%= textilizable(@week_todo.todo) %>
	<%else%>
		<%=l(:text_no_week_plan)%>
	<%end%>
</div>

</fieldset>
</div>
<br />



<div class="box tabular" id="day" style="display:<%=(@worklog && @worklog.typee == 1) ? 'none' : 'block'%>;"> 
	<fieldset>
		<legend>日报</legend>

		<p><%= f.text_area :do, :required => true, :cols => 40, :rows => 15, :class => 'wiki-edit' %></p>
		<p><%= f.text_area :todo, :required => true, :cols => 40, :rows => 10, :class => 'wiki-edit' %></p>
		<p><%= f.text_area :feel, :required => false, :cols => 40, :rows => 5, :class => 'wiki-edit' %></p>
	</fieldset>
</div>

<div class="box tabular" id="week" style="display:<%=(@worklog && @worklog.typee == 0) ? 'none' : 'block'%>;"> 
	<fieldset>
		<legend>周报 (<%= link_to(l(:howto_do_a_plan), "/boards/3/topics/1014",:target => '_blank') %>)</legend>

		
		<p><%= f.text_area :plan_done, :required => true, :cols => 40, :value => "#{@worklog.plan_done || l(:text_plan_done)}",:rows => 15, :class => 'wiki-edit' %></p>
		<p><%= f.text_area :plan, :required => true, :cols => 40, :value => "#{@worklog.plan || l(:text_plan)}",:rows => 10, :class => 'wiki-edit' %></p>
		<p><%= f.text_area :feel, :required => false, :cols => 40, :rows => 5, :class => 'wiki-edit' %></p>
	</fieldset>

	<fieldset>
		<legend>自我评价(本周)</legend>
		<p><%= f.select(:score, Worklog.score_collection, {:class=>'wiki-edit',:required => true})%> </p>
		<p><%= f.text_area :good, :required => false, :cols => 40, :rows => 5, :class => 'wiki-edit',:required => true %></p>
		<p><%= f.text_area :nogood, :required => false, :cols => 40, :rows => 5, :class => 'wiki-edit',:required => true %></p>
	</fieldset>
</div>

<%= wikitoolbar_for 'worklog_do' %>
<%= wikitoolbar_for 'worklog_plan_done' %>

<script type="text/javascript">
function hiddenScore(x)
{
	// alert(x)
	var y=document.getElementById("week")
	if (x == "0"){ //day
		document.getElementById("day").style.display = 'block';
		document.getElementById("week").style.display = 'none';
		document.getElementById("todo_day").style.display = 'block';
		document.getElementById("todo_week").style.display = 'none';
	}else{
		document.getElementById("day").style.display = 'none';
		document.getElementById("week").style.display = 'block';
		document.getElementById("todo_day").style.display = 'none';
		document.getElementById("todo_week").style.display = 'block';
	}
}
</script>