<div class="contextual">
	<%= link_to(l(:label_worklog_new),new_worklog_path(),:class => 'icon icon-add' ) + ' |'%>
	<%= link_to(l(:label_worklog_my), worklogs_my_path) + ' |'  %>
	<%= link_to(l(:label_all_worklog), worklogs_path) + ' (' %>
	<%= link_to(l(:label_worklog_day),worklogs_path(:typee=>0)) + ' |'%>  
	<%= link_to(l(:label_worklog_week),worklogs_path(:typee=>1)) + " )"%>
</div>