<%=render :partial => "nav" %>
 
	
<h2><%=worklogs_title(params[:typee])%></h2>
<%@worklogs.each do |w|%>
<h3><%= avatar(w.author, :size => "18")%> <%=(w.typee == 0) ? "#{l(:index_type_day)}" : "#{l(:index_type_week)}"%>: <%=h w.day %>(<%=DateTime.parse(w.day).strftime('%A').to_s%>)</h3>
<div class="contextual">
<%=link_to "", {:action => 'edit', :id => w.id}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) if can_edit?(w)%>
</div>
<p class="author"><%= authoring w.created_at, w.author %></p>
<div class="wiki">
	
	<table width="100%">
		<tr>
			<td width="60%"><%=(w.typee == 0) ? "#{l(:index_item_day_done)}" : "#{l(:index_item_week_done)}"%></td>
			<td width="40%"><%=(w.typee == 0) ? "#{l(:index_item_next_day_todo)}" : "#{l(:index_item_next_week_todo)}"%></td>
		</tr>
		<tr>
			<td><%= textilizable(w.do) %></td>
			<td><%= textilizable(w.todo) %></td>
		</tr>
		<%unless textilizable(w.feel).blank?%>
		<tr>
			<td COLSPAN=2 BGCOLOR="#eee">
				<%=textilizable("#{l(:label_feel)} "+w.feel) %>
			</td>
		</tr>
		<%end%>
	</table>
	
	<%if (w.typee > 0  &&  !w.score.blank?) %>
	<table width="100%">
		<tr>
			<td COLSPAN=2 BGCOLOR="#eee">
 				<%=l(:index_item_score)%>: <%=w.score%> （<%=l(:index_item_good)%> | <%=l(:index_item_nogood)%>）
 			</td>
		</tr>
		<tr>
			<td><%= textilizable(w.good) %></td>
			<td><%= textilizable(w.nogood) %></td>
		</tr>
	</table>
	<%end%>

	
</div>
<%end%>
<p class="pagination"><%= pagination_links_full @worklogs_pages %></p>

<% content_for :sidebar do %>
	<%=render :partial => "sidebar" %>
<% end %>
 

<% html_title "#{l(:label_worklog)}" %>
