<div class="contextual">
<%= link_to(l(:label_worklog_day),worklogs_path(:typee=>0),:class => 'icon icon-time' )%>
<%= link_to(l(:label_worklog_week),worklogs_path(:typee=>1),:class => 'icon icon-stats' )%>
<%= link_to(l(:label_worklog_new),new_worklog_path(),:class => 'icon icon-add' )%>
</div>
 
	
<h2><%=worklogs_title(params[:typee])%></h2>
<%@worklogs.each do |w|%>
<h2><%= avatar(w.author, :size => "24") %> <%=w.typee == 0 ? "日报" : "周报"%>: <%=h w.day %>(周<%=DateTime.parse(w.day).strftime('%u').to_s%>)</h2>
<div class="contextual">
<%=link_to "", {:action => 'edit', :id => w.id}, :class => 'icon icon-edit', :accesskey => accesskey(:edit) if can_edit?(w)%>
</div>
<p class="author"><%= authoring w.created_at, w.author %></p>
<div class="wiki">
	<table width="100%">
		<tr>
			<td width="60%">今日Done</td>
			<td width="40%">明日Todo</td>
		</tr>
		<tr>
			<td><%= textilizable(w.do) %></td>
			<td><%= textilizable(w.todo) %></td>
		</tr>
	</table>
	<p class="pagination"><%= pagination_links_full @worklogs_pages %></p>
	
</div>
<%end%>


<% content_for :sidebar do %>
<h3>按用户</h3>
	<%=link_to "ALL",{:controller=>"worklogs",:action=>"index",:day=>params[:day]},{} %><br />
	<%@users.each do |user|%>
		<%=link_to user.name(),{:controller=>"worklogs",:action=>"index",:user_id=>user.id,:day=>params[:day]}%> <br />
	<%end%>
	
 <h3>按时间</h3>
	<%=link_to "ALL",{:controller=>"worklogs",:action=>"index",:user_id=>params[:user_id]},{} %><br />
	<% @start.step(@last,-1) do |archive| 
	day = archive.strftime("%Y-%m-%d") -%>	
	<%=link_to day,{:controller=>"worklogs",:action=>"index",:day=>day,:user_id=>params[:user_id]},{} %><br />
	<% end %>


	
　<hr />
 <h3>约定和说明</h3>
 <%=textilizable Setting.plugin_worklogs['WORKLOGS_ABOUT'] || "约定和说明,可定制"%>
<% end %>
 

<% html_title "#{l(:label_worklog)}" %>
