<div class="contextual">

<%= link_to(l(:label_worklog_new),new_worklog_path(),:class => 'icon icon-add' ) + ' |'%>
<%= link_to(l(:label_worklog_my), worklogs_my_path) + ' |' if User.current.allowed_to?(:my_worklogs, nil, :global => true) %>
<%= link_to(l(:label_all_worklog), worklogs_path) + ' (' if User.current.allowed_to?(:all_worklogs, nil, :global => true) %>
<%= link_to(l(:label_worklog_day),worklogs_path(:typee=>0)) + ' |'%>  
<%= link_to(l(:label_worklog_week),worklogs_path(:typee=>1)) + " )"%>
</div>

<h2><%= l(:label_worklog_new) %></h2>


<%= labelled_form_for @worklog, :url => worklogs_path do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_create) %>
<% end %>


<% content_for :sidebar do %>

 <h3>约定和说明</h3>
 <%=textilizable Setting.plugin_worklogs['WORKLOGS_ABOUT'] || "约定和说明,可定制"%>
<% end %>

<% html_title "#{l(:label_worklog_new)} - #{l(:label_worklog)}" %>