<h2><%= l(:label_worklog_new) %></h2>


<%= labelled_form_for @worklog, :url => worklogs_path do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_create) %>
<% end %>


<% content_for :sidebar do %>

 <h3>约定和说明</h3>
 <%=textilizable Setting.plugin_worklogs['WORKLOGS_ABOUT'] || "约定和说明,可定制"%>
<% end %>

<% html_title "#{l(:label_worklog_new)} - #{l(:label_worklog)}" %>