<!-- <p>
  <label>日报发送时间</label>
  <%= time_select 'settings[WORKLOGS_DAY_TIME]', settings['WORKLOGS_DAY_TIME'] %>
  <br />
  <em>输入日报发送的时间（每天发送）.</em>
</p> -->

<p>
  <label><%=l(:setting_no_worklog_user)%></label>
  <%= text_field_tag 'settings[WORKLOGS_UN_IDS]', settings['WORKLOGS_UN_IDS'] || "1" %>
  <br />
  <em><%=l(:setting_no_worklog_user_desc)%></em>
</p>

<p>
  <label><%=l(:setting_cc_worklog_user)%></label>
  <%= text_field_tag 'settings[WORKLOGS_MAIL_CC]', settings['WORKLOGS_MAIL_CC'] || "" %>
  <br />
  <em><%=l(:setting_cc_worklog_user_desc)%></em>
</p>

<p>
  <label><%=l(:setting_page_num)%></label>
  <%= text_field_tag 'settings[WORKLOGS_PAGINATION_LIMIT]', settings['WORKLOGS_PAGINATION_LIMIT'] || 20 %>
  <br />
  <em><%=l(:setting_page_num_desc)%></em>
</p>

<hr/>

<p>
  <label><%=l(:setting_about_info)%></label>
  <%= text_area_tag 'settings[WORKLOGS_ABOUT]', (settings["WORKLOGS_ABOUT"] || l(:text_worklogs_about)).force_encoding("utf-8"),:cols => 60, :rows => 25 %>
  <br />
  <em><%=l(:setting_about_info_desc)%></em>
</p>

<p>
  <label><%=l(:setting_mail_footer)%></label>
  <%= text_area_tag 'settings[WORKLOGS_MAIL_FOOTER]', (settings["WORKLOGS_MAIL_FOOTER"] || l(:text_worklogs_mail_footer)).force_encoding("utf-8"),:cols => 60, :rows => 15 %>
  <br />
  <em><%=l(:setting_mail_footer_desc)%></em>
</p>